body {
  background-color: #0f171e;
}

.videoCard1 {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px;
  margin-top: -30px;
}

.videoCard1::-webkit-scrollbar {
  display: none;
}

.App > h2 {
  font-weight: 700;
  font-size: 19px;
  color: white;
  margin-left: 30px;
  margin-top: -54px;
  padding: 3px;
}

.latest {
  font-weight: 700;
  font-size: 19px;
  color: white;
  margin-left: 30px;
  margin-top: -20px;
}
